@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

                <p>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Movies/Index">Movies Example</a>
             
                    <a class="nav-link text-dark" asp-area="" asp-page="/Blog/Index">Blog Example</a>
                </p>
        
    </div>
